@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.read-more{
    display: none;
}

.liste_mentor{
    display: inline-block;
    width: 24%;
    border: 0px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #ccc;
    margin: 4px 2px 4px 4px;
    padding: 2em;
    text-align: center;
}

.nom_mentor{
    color: #242424 !important;
    font-size: 1.5rem !important;
    margin-bottom: 0px !important;
}

.category_mentor{
    background: #FAE5EE;
    color: #C64D81;
    width: 60%;
    text-align: center;
    margin-top: 0.8em;
    border-radius: 10px;
}

.description_mentor{
    color: #242424 !important;
    text-align: left;
    line-height: 1.4em;
    font-size: 0.95rem;
}

.image_mentor{
    width: 8em;
    border-radius: 50% !important;
    margin-bottom: 1em;
}

.icon_reseaux{
    transition: 0.3s all ease-in-out;
}

.icon_reseaux:hover{
    transform: translateY(-8px);
}

/* media queries */

@media screen and (min-width: 0px) and (max-width: 475px){
    .liste_mentor{
        width: 100%
    }
}

@media screen and (min-width: 476px) and (max-width: 767px){
    .liste_mentor{
        width: 48%
    }
}

@media screen and (min-width: 768px) and (max-width: 1049px){
    .liste_mentor{
        width: 32%
    }
}